.button {
    border: 1px solid lightgrey;
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    opacity: .6;
    outline: none;
}

.button:hover {
    opacity: 1;
}

.delete {
    opacity: 1;
    background: rgba(255, 0, 0, .6);
}

.delete:hover {
    background: rgba(255, 0, 0, 1);
}